--- 
title: false 
styles: true 
--- 

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;1,300;1,400');
$headingtype: (font-family: '"Josefin Sans", sans-serif',
  regular: 300,
  bold: 300,
  cap-height: 0.75) !default;

// Typography
$bodytype: (font-family: '"Josefin Sans", sans-serif',
  regular: 300,
  bold: 400,
  italic: italic,
  cap-height: 0.75) !default;

//$headingColour: #FFFFFF !default;


@mixin justify-content($value: flex-start) {
  @if $value==flex-start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
  }

  @else if $value==flex-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
  }

  @else if $value==space-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
  }

  @else if $value==space-around {
    -ms-flex-pack: distribute;
  }

  @else {
    -webkit-box-pack: $value;
    -ms-flex-pack: $value;
  }

  -webkit-justify-content: $value !important;
  -moz-justify-content: $value !important;
  justify-content: $value !important;
}

.feature {
  color: #FFFFFF !important;
}


.header {
  .nav {
    text-align: center !important;
  }

  .container {
    @include justify-content(center);
  }
}

.header .nav {
  display: flex;
  flex-direction: column-reverse;
  align-items: center !important;
  justify-content: center;
  overflow: hidden;
}


@import "alembic";